.transactions-count-container {
    padding: 5px 25px;
    display: flex;
    justify-content: space-around;
}

.transactions-title {
    color: #171725;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}

.num-transactions {
    color: #6979f8;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
}

.time-transactions {
    color: #999999;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

@media screen and (max-width: 300px) {
    .transactions-count-container {
        display: block;
    }

}
