@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");

:root {
    --font-family: "Montserrat", "Segoe UI", -apple-system, BlinkMacSystemFont,
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    --bg-color: #f2f6f9;
    --corp-color: #2d14c4;
}

html {
    background-color: var(--bg-color);
}

body {
    margin: 0 auto 50px auto;
    font-family: var(--font-family);
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.loader {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.loader:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid var(--corp-color);
    border-color: var(--corp-color) transparent var(--corp-color) transparent;
    animation: loader 1.2s linear infinite;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #2a2d3a #000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: var(--corp-color);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
